%ul.breadcrumb
  %li
    = link_to cycles_profile_path(user) do
      Циклы
    %span.divider /
  %li
    = link_to articles_profile_path(cycle) do
      = cycle.correct_title
    - unless article.nil?
      %span.divider /
  - unless article.nil?
    %li
      = article.title
.clear
.pull-right
  .more-info
    = link_to cycle_path(cycle), id: 'override-link-color' do
      =t 'COMMENTS', count: cycle.comments_count, comment: Russian::pluralize(cycle.comments_count, 'комментарий','комментария','комментариев')
