- if @cycles.blank?
  %p= t("NO_OFFICE_CYCLES")
- else
  - @cycles.each do |cycle|
    .row-fluid
      %h4
        = link_to articles_profile_path(cycle) do
          %span= cycle.correct_title
      .description= cycle.correct_description.html_safe
      .clear

= paginate @cycles, :remote => true