#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .cycle-list
        = render :partial => 'cycle_breadcrumbs',:locals => { :cycle => @article.cycle, :user => @user, :article => @article }
        = render :partial => 'articles/article_block',:locals => { :article => @article }

- content_for(:right_bar) do
  = render partial: 'offices/right_bar'