#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      %h3 Редактирование профиля
      = simple_form_for(@user, :validate => true, :html => {:multipart => true}) do |f|
        = f.error_notification

        .form-inputs
          = f.input :name, input_html: { class: "span8" }
          = f.input :first_name, input_html: { class: "span8" }
          = f.input :second_name, input_html: { class: "span8" }
          .left.avatar
            - if @user.avatar.nil?
              = image_tag("/images/main/profile/stub-user-middle.gif", :title => "user avatar")
            - else
              = image_tag(@user.avatar.file.url(:small))
          .left.avatar_inputs
            = f.simple_fields_for :avatar do |a|
              = a.input :file, as: :file, label: 'Аватар', hint: t(:FILE_VALIDATIONS),  input_html: { class: "span4" }
          .clear
          = f.association :gender, collection: Gender.all.order_by([:name, :desc]), input_html: { class: "span8" }, selected: @user.gender.id, label_method: lambda { |gender| "#{t(gender.name)}" }
          = f.input :from, input_html: { class: "span8" }
          = render partial: 'common/text_editor', locals: {f: f, field: :about, type: :small, id: 'smallContent', html_class: 'span12', label: nil}

        .form-actions
          = f.button :submit, :class => "btn-primary"

- content_for(:right_bar) do
  = render partial: 'offices/right_bar'