#profile
  .user_header
    %a.avatar{:href=>"#"}
      = image_tag("/images/main/profile/stub-user-middle.gif", :title => "user avatar")
    %h2.username
      = link_to user_profile_path(@user) do
        = @user.name
    .clear
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .fullname= "#{@user.first_name} #{@user.second_name}"
      %dl
        %dt Дата регистрации:
        %dd= @user.created_at.localtime
        %dt Откуда:
        %dd
          - unless @user.from.nil?
            = @user.from
          - else
            = t(:NO_INFO)
        %dt Пол:
        %dd= t @user.gender.name

        %dt О себе:
        %dd
          - unless @user.about.nil?
            = @user.about.html_safe
          - else
            = t(:NO_ABOUT)

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'

