#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .cycle-list
        - if @user.cycles.blank?
          %p= t("NO_OFFICE_CYCLES")
        - else
          - @user.cycles.each do |cycle|
            .row-fluid
              %h4
                = link_to user_articles_path(cycle) do
                  %span= cycle.correct_title
              .description= cycle.correct_description

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'