#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .cycle-list
        = render :partial => 'cycle_breadcrumbs',:locals => { :cycle => @cycle, :user => @user, :article => nil }
        - if @cycle.articles.blank?
          %p= t("NO_CYCLE_ARTICLES")
        - else
          - @cycle.articles.each do |article|
            .row-fluid
              %h4
                = link_to user_article_path(article) do
                  %span= article.title

              .publishDate= article.created_at.localtime

              .description= article.short_content.html_safe

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'