#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .fullname= "#{@user.first_name} #{@user.second_name}"
      .clear
      %dl
        %dt Зарегистрирован:
        %dd= l @user.created_at.in_time_zone, format: :short
        %dt Активность:
        %dd= "последний раз был на сайте #{l @user.last_sign_in_at.in_time_zone, format: :short}"
        %dt Откуда:
        %dd
          - if not @user.from.nil? and not @user.from.empty?
            = @user.from
          - else
            = t(:NO_INFO)
        %dt Пол:
        %dd= t @user.gender.name

        %dt О себе:
        %dd
          - unless @user.about.nil?
            = @user.about.html_safe
          - else
            = t(:NO_ABOUT)
        %br
        %dt
        %dd
          .clear
          = render partial: 'common/badges', locals: {target: @user}


- content_for(:right_bar) do
  = render :partial => 'office/right_bar'

