- keywords content.tag_list
- description content.tiny_content
.row
  %h3
    = link_to gallery_path(content.contentable) do
      = content.contentable.title
    %span.divider /
    = link_to content_base_content_path(content) do
      %span= title content.title
  .news-user-avatar
    = render 'common/avatar', user: content.contentable.author
  .info
    .credentials
      .author
        = link_to profile_path(content.contentable.author) do
          = content.contentable.author.name
      .publishDate
        - if content.created_at.nil?
          = sex_action(content.contentable.author, :publish)
          = l content.contentable.created_at.in_time_zone, format: :short
        - else
          = sex_action(content.contentable.author, :publish)
          = l content.created_at.in_time_zone, format: :short
    .clear
    = render 'common/actions_info', user: content.contentable.author
  .pull-right
    .control-panel
      .edit
        - if can? :update, content
          = link_to edit_content_base_content_path(content) do
            %i.fa.fa-pencil{title: t(:EDIT_CONTENT)}
      = render :partial => 'common/views_count', locals: { subject: content, growth: false }
      %div{class:"vote-#{content._id}"}
        = render :partial => 'common/vote_block', locals: { votable: content }
  .clear
  %br
  .description
    - unless content.description.nil?
      = content.description.html_safe
  .clear
  %br

  .fotorama{data:{width:'90%',ratio:"800/600", keyboard: 'true'}}
    %a{href: @content.src, data:{caption: @content.title}}

  .clear
  %br