%h4=title 'Обновить информацию о видео'
= horizontal_simple_form_for @content, :validate => true do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: "span8" }, label: 'Название'
    = f.input :src, input_html: { class: "span8" }, label: 'Ссылка на видео'
    = render partial: 'common/text_editor', locals: {f: f, field: :description, type: :small, id: 'smallContent', html_class: 'span12', label: false}
    = render :partial => "common/tags_input", :locals => {:f => f, :taggable => Content::BaseContent}

  .form-actions
    = f.button :submit, :class => "btn-primary"
