- if @galleries.blank?
    %p= t("NO_OFFICE_GALLERIES")
- else
    %table.table
        %thead
            %th
            %th
            %th
            %th{:width => "30px"}
            %th{:width => "30px"}
            %th{:width => "30px"}
            %th{:width => "80px"}
        %tbody
            - @galleries.each do |gallery|
                %tr.gallery
                    %td
                        .header
                            = link_to gallery_path(gallery) do
                                =gallery.name
                        .publishDate
                            = l gallery.created_at.in_time_zone, format: :short
                    %td.views-wrapper
                        .info
                            %i.icon-th-list{title: "#{gallery.contents.size} #{Russian::pluralize(gallery.contents.size, 'работа','работы', 'работ')}"}
                            = gallery.contents.size
                    %td.center
                        .options
                            .btn-group
                                %button.btn
                                    = link_to edit_gallery_path gallery do
                                        Изменить
                                %button.btn.dropdown-toggle{:data => {:toggle => "dropdown"}}
                                    %span.caret
                                %ul.dropdown-menu
                                    %li
                                        = link_to edit_gallery_path(gallery) do
                                            Изменить
                    %td.long
                        = render :partial => "common/views_count", locals: { subject: gallery, growth: true }
                    %td.views-wrapper
                        = render :partial => "common/comments_count", locals: { subject: gallery }
                    %td.mini-vote
                        = render :partial => "common/rate_count", locals: { subject: gallery }
                    %td.center
                        - if can? :destroy, gallery
                            = button_to "Удалить", gallery, :method => :delete, confirm: "#{t(:SURE)}", :class => "btn btn-danger"
                - unless gallery.contents.empty?
                    = render :partial => 'contents_block', locals: {contents: gallery.contents}





= paginate @galleries, :remote => true