%li.o-item
  .o-item-content
    .o-item-content-primary
      %span.o-item-checkbox.item-select
        = check_box_tag "select_#{collection.singularize}[]", item.id
      .o-thumb
        = render partial: "#{collection}/thumb", locals: {item: item}
      .o-info-container
        .o-title
          = render partial: "offices/collections/#{collection.singularize}_title", locals: {item: item}
        .publishDate
          = l item.created_at.in_time_zone, format: :short
        .clear
        .o-info
          = render partial: "offices/collections/#{collection.singularize}_actions", locals: {item: item}
    .o-item-content-secondary
      .o-metrics
        %span.metric= render partial: "common/views_count", locals: { subject: item, growth: true }
        %span.metric= render partial: "common/comments_count", locals: { subject: item }
        %span.metric= render :partial => "common/rate_count", locals: { subject: item }
      .o-indicators
        = render partial: "offices/collections/#{collection.singularize}_indicators", locals: {item: item}
