%table.table.table-striped
  - if @contents.blank?
    %p= t("NO_NON_APPROVED_CONTENTS")
  - else
    - @contents.each do |content|
      %tr
        %td
          .office-header
            = link_to content_base_content_path(content) do
              %span= content.title
          .publishDate
            - unless content.updated_at.nil?
              = content.updated_at.localtime
        %td.thumb-wrapper
          = render :partial => 'yes_no',:locals => { :is_true => content.approved_to_news, :title=>"подтвержден"}
        %td
          .options
            .btn-group
              %button.btn.btn-default
                = link_to approve_content_base_content_path(content, approved: true) do
                  = t :APPROVE
              %button.btn.btn-default.dropdown-toggle{data:{toggle:"dropdown"}}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to approve_content_base_content_path(content,  approved: true) do
                    = t :APPROVE
                %li
                  = link_to approve_content_base_content_path(content,  approved: false) do
                    = t :NO_APPROVE
        %td
          = button_to "Удалить", [content], :method => :delete, data:{confirm: "#{t(:SURE)}"}, :class => "btn btn-danger"


= paginate @contents, :remote => true