%table.table.table-striped
  - if @articles.blank?
    %p= t("NO_NON_APPROVEd_ARTICLES")
  - else
    - @articles.each do |article|
      %tr
        %td
          .header
            = link_to draft_article_path(article) do
              %span= article.title
          .publishDate
            = article.updated_at.localtime
        %td.thumb-wrapper
          - if article.is_updated?
            %i.icon-pencil{title: t('ARTICLE_CHANGED')}
          - if article.garbage?
            %i.icon-trash{title: t('ARTICLE_TRASH')}
        %td.thumb-wrapper
          - if article.is_updated?
            %i.fa.fa-refresh
          - else
            = render :partial => 'yes_no',:locals => { :is_true => article.approved?, :title=>"подтверждена"}
        %td
          .options
            .btn-group
              %button.btn
                = link_to approve_article_path(article) do
                  = t :APPROVE
              %button.btn.dropdown-toggle{data:{toggle:"dropdown"}}
                %span.caret
              %ul.dropdown-menu
                %li= link_to t(:APPROVE), approve_article_path(article)
                %li= link_to t(:APPROVE_AND_TO_NEWS),approve_article_path(article, additional: 'to_news'), disabled: (cannot? :to_news, article)
                %li= link_to t(:TO_GARBAGE), to_garbage_article_path(article)
        %td
          - if can? :destroy, article
            = button_to "", article, :method => :delete, data:{confirm: "#{t(:SURE)}"}, :class => "icon-trash", :id => 'btn-rm-cm'

= paginate @articles, :remote => true