.sidebar
  - if can?(:approve, Article) && can?(:approve, Content)
    %h3.right-bar
      Модерирование
    %ul.navigation
      %li
        = active_link_to non_approved_articles_office_path, active: :exclusive do
          Подтвердить статьи
          %b= "(#{Article.non_approved(current_user).count})" if Article.non_approved(current_user).count > 0
      %li
        = active_link_to non_approved_contents_office_path, active: :exclusive do
          Подтвердить работы
          %b= "(#{Content.non_approved(current_user).count})" if Content.non_approved(current_user).count > 0


  - if user_signed_in? and current_user.has_role? :ADMIN
    %h3.right-bar
      Администрирование
    %ul.navigation
      %li
        = active_link_to users_path do
          = "Пользователи (#{User.all.count})"
      %li= active_link_to 'Назначить достижения', assign_badges_office_path
      %li= active_link_to 'Добавить опыт', add_points_office_path
      %li= active_link_to 'Системная информация', usage_office_path

  -if user_signed_in?
    %h3.right-bar
      Личный кабинет
    %ul.navigation
      %li
        = active_link_to office_path, active: :exclusive do
          Статус

      = render 'offices/item_list'