.sidebar
  - if can? :approve, [Article,Content::BaseContent]
    %h3.right-bar
      Модерирование
    %ul.navigation
      %li
        = active_link_to non_approved_articles_office_path, active: :exclusive do
          Подтвердить статьи
          %b= "(#{Article.non_approved(current_user).count})" if Article.non_approved(current_user).count > 0
      %li
        = active_link_to non_approved_contents_office_path, active: :exclusive do
          Подтвердить работы
          %b= "(#{Content::BaseContent.non_approved(current_user).count})" if Content::BaseContent.non_approved(current_user).count > 0


  - if user_signed_in? and current_user.has_role? :ADMIN
    %h3.right-bar
      Администрирование
    %ul.navigation
      %li
        = active_link_to users_path do
          = "Пользователи (#{User.all.count})"
      %li= active_link_to 'Назначить достижения', assign_badges_office_path
      %li= active_link_to 'Добавить опыт', add_points_office_path

  -if user_signed_in?
    %h3.right-bar
      Личный кабинет
    %ul.navigation
      %li
        = active_link_to office_path, active: :exclusive do
          Статус
      %li
        = active_link_to articles_office_path, active: :exclusive do
          Мои статьи
      %li
        = active_link_to cycles_office_path do
          Мои циклы
      %li
        = active_link_to galleries_office_path do
          Мои работы
      %li
        = active_link_to projects_path do
          Мои проекты
      %li
        = active_link_to subscriptions_office_path do
          Подписки
      %li
        = active_link_to profile_path(current_user), active: :exclusive do
          Профиль
      %li
        = active_link_to authentications_path, active: :exclusive do
          Связка аккаунтов
      %br
      %li
        = active_link_to edit_profile_path(current_user) do
          Настроить профиль
      %li
        = active_link_to settings_office_path do
          Настройки отображения сайта
      %li
        = active_link_to edit_user_registration_path do
          Настройки аккаунта