.row-fluid
  .span5
    %h4=title 'Добавить опыт'

.row-fluid
  = simple_form_for :user, url: add_points_office_path do |f|
    .form-inputs
      = f.input :id, collection: @users, input_html: { class: 'select2' }, label: 'Пользователь'
      = f.input :points, label: 'Очки опыта'

    .form-actions
      = f.button :submit, 'Назначить', class: "btn-primary"

- content_for(:right_bar) do
  = render :partial => 'right_bar'