.row-fluid
  .span5
    %h4=title 'Неподтвержденные статьи'

.row-fluid
  = simple_form_for :user, url: assign_badges_office_path do |f|
    .form-inputs
      = f.input :users, collection: @users, input_html: { class: 'select2' }
      = f.input :badges, collection: @badges, label_method: lambda { |badge| t(badge.name) }, input_html: { class: 'select2' }

    .form-actions
      = f.button :submit, class: "btn-primary"

- content_for(:right_bar) do
  = render :partial => 'right_bar'