.row
  .col-md-4
    %h4.section-small
      =title 'Мои циклы'
      %span.o-count= @cycles.size
  .col-md-8
    .pull-right
      = link_to new_cycle_path, :class=>'btn btn-primary' do
        %i
        =t(:NEW_CYCLE)

= render partial: 'common/list_header', locals: { current_action: lambda { |*args| cycles_office_path(*args) }, model: Cycle, list_title:'Цикл' }

#cycles.cycles.ujs-pagination
  = render :partial => 'cycles_block'

- content_for(:right_bar) do
  = render :partial => 'right_bar'
