= render 'profiles/header', user: @user
.content-left
  = render 'profiles/menu', user: @user
  .user-profile
    %h3 Настройки сайта
    %br
    = horizontal_simple_form_for @user, validate: true do |f|
      = f.error_notification

      = f.input :name, as: :hidden

      = f.simple_fields_for :settings, wrapper_mappings:{ boolean: :horizontal_boolean } do |s|

        = render 'common/form_note', text: 'Если верхнее меню загораживает вам пол-экрана и вы задолбались прокручивать текст, просто поставьте флажок и меню будет скроллиться вместе с контентом'
        = s.input :unlock_top_menu, as: :boolean, label: 'Скроллить верхнее меню вместе с контентом'

      .form-actions
        = f.button :submit, class: "btn-primary"

- content_for(:right_bar) do
  = render :partial => 'right_bar'