%h3=title 'Личный кабинет'

%ul.nav.nav-tabs
  %li.active
    %a{href: '#status', data:{toggle: 'tab'}} Статус
  %li
    %a{href: '#response', data:{toggle: 'tab'}} Комментарии
  %li
    %a{href: '#my-activity', data:{toggle: 'tab'}} Мои действия
.tab-content
  #status.office.tab-pane.active
    .row
      %br
      .col-md-1.col-md-2.pull-left
        = image_tag "/images/ranks/#{current_user.level}_big.png", title: "Ранг #{current_user.level}", data: {toggle: 'tooltip', placement:'top'}
      .col-md-8.inline-block.progress-status
        %span
          Ранг:
          %b
            = current_user.level
        .status
          Текущий статус:
          %b
            = t current_user.highest_role
        .points
          Текущий опыт:
          %b
            = current_user.points
        - percentage = to_next_rank(current_user)
        .progress{title: "Опыта до следующего ранга #{to_next_rank_exp(current_user)}", data: {toggle: 'tooltip', placement:'top'}}
          .progress-bar.progress-bar-info{role:"progressbar", 'aria-valuenow'=>"#{percentage}", 'aria-valuemin'=>"0", 'aria-valuemax'=>"100", style:"width: #{percentage}%"}
            = "#{percentage} %"


    %dl
      %dt
        Неопублкиованные статьи
      %dd
        - if current_user.unpublished_articles.empty?
          Нет неопубликованных статьей
        - else
          = render :partial => 'articles_short_table', :locals => { :articles => current_user.unpublished_articles, :buttons => false }
    %dl
      %dt
        Неподтвержденные статьи
      %dd
        - if current_user.unapproved_articles.empty?
          Нет неподтвержденных статьей
        - else
          = render :partial => 'articles_short_table', :locals => { :articles => current_user.unapproved_articles, :buttons => false }

    %dl
      %dt
        Посещенные страницы
      %dd
        - if @last_pages.empty?
          Ничего не посещалось
        - else
          = render :partial => 'pages_short_table', :locals => { :elements => @last_pages }

  #response.tab-pane
    = render 'common/activities_block', activities: @comments
  #my-activity.tab-pane
    = render 'common/activities_block', activities: @my_activities

- content_for(:right_bar) do
  = render :partial => 'right_bar'