.row-fluid{itemscope:true, itemtype:'http://schema.org/Article'}
  %h4.random-news
    = link_to article_path(article) do
      %span= article.title
  .author
    = link_to user_profile_path(article.author) do
      %span{itemprop:'author', itemscope:true, itemtype:'http://schema.org/Person'}
        %span{itemprop:'name'}
          = article.author.name
  .publishDate
    %span{itemprop:'datePublished',content:article.created_at}
      = l article.created_at.in_time_zone, format: :short
  .clear
  .description{itemprop:'articleBody'}
    - unless article.content.nil?
      %p
        = article.tiny_content
  .clear
  .more-info
    = link_to article_path(article) do
      =t 'READ_MORE'
  .more-info
    = link_to article_path(article), itemprop:"url" do
      =t 'COMMENTS', count: article.comments.size, comment: Russian::pluralize(article.comments.size, 'комментарий','комментария','комментариев')
