.row-fluid
  %h4
    = link_to article_path(article) do
      %span= article.title
  .author
    %a{:href=>"#"}
      = article.cycle.author.name
  .publishDate
    = article.created_at.localtime
  .description
    - unless article.content.nil?
      = article.short_content.html_safe
    - else
      = article.tmpContent.html_safe
  - if article.content.size != article.short_content.size
    .more-info
      = link_to article_path(article) do
        =t 'READ_MORE'
  .more-info
    = link_to article_path(article) do
      =t 'COMMENTS', count:0
