.article-wrapper
  .article-card
    .article-thumb
      = link_to article_path(article) do
        = image_tag(article.get_logo_url.nil? ? '/images/common/filer.png': article.get_logo_url, title: article.title)
    %h4
      - if article.is_garbage
        = link_to draft_article_path(article) do
          %strong= article.title
      - else
        = link_to article_path(article) do
          %strong= article.title
      %span
        = link_to user_profile_path(article.author) do
          = "от автора #{article.author.name}"
    .clear
    - unless article.content.nil?
      %p
        = article.tiny_content
    %ul.article-meta
      %li.publishDate
        %span
          %i.icon-leaf{title: t(:PUBLISH_FULL)}
          = l article.created_at.in_time_zone, format: :short
    %ul.article-stats
      %li.long
        = render partial: 'common/views_count', locals: {subject: article, growth: true}
      %li.views-wrapper
        = render partial: 'common/comments_count', locals: {subject: article}
      %li.floated-vote
        = render partial: 'common/rate_count', locals: {subject: article}

