.row-fluid
  %h4
    = link_to cycle_path(article.cycle) do
      = article.cycle.correct_title
    %span.divider /
    = link_to article_path(article) do
      %span= article.title
  .news-user-avatar
    - if article.author.avatar.nil?
      = image_tag("/images/main/profile/stub-user-middle.gif", :title => "user avatar")
    - else
      = image_tag(article.author.avatar.file.url(:mini))
  .info
    .credentials
      .author
        = link_to user_profile_path(article.author) do
          = article.author.name
      .publishDate
        = l article.created_at.in_time_zone, format: :short
    .clear
    .views
      создано
      = link_to user_cycles_path(article.author) do
        = article.author.cycles.all.size - 2
      = Russian::pluralize(article.author.cycles.all.size - 2, 'цикл','цикла', 'циклов')
    .clear
    .views
      = "написано #{article.author.articles.size} #{Russian::pluralize(article.author.articles.size, 'статья','статьи', 'статей')}"
    .clear
    .views
      = "оставлено #{article.author.comments.size} #{Russian::pluralize(article.author.comments.size, 'комментарий','комментария','комментариев')}"
  .pull-right{class:"vote-#{article._id}"}
    = render :partial => 'common/vote_block', :locals => { :votable => article }
  .clear
  .description
    - unless article.content.nil?
      = article.content.html_safe
    - else
      = article.tmpContent.html_safe

  .clear