.row.piece-item
  %h3
    = render partial: 'articles/title', locals: {item: article}
  %div
    %div
      .author
        = link_to profile_path(article.author) do
          %span
            = article.author.name
      .publishDate
        %span
          = sex_action(article.author, :publish)
          = l article.created_at.in_time_zone, format: :short
    .pull-right
      = render 'articles/control_panel', article: article
  .clear
  .description
    - unless article.clean_content.nil?
      = raw article.short_content
    - else
      = raw article.tmp_content
  .clear
  - unless article.garbage?
    - if article.clean_content.size != article.short_content.size
      .more-info
        = link_to article_path(article) do
          =t 'READ_MORE'
    .more-info
      = link_to article_path(article, anchor: "comments-anchor") do
        =t 'COMMENTS', count: article.comments_count, comment: Russian::pluralize(article.comments_count, 'комментарий','комментария','комментариев')
