.row
  %h4.random-news
    = link_to article_path(article) do
      %span= article.title
  .author
    = link_to profile_path(article.author) do
      %span
        %span
          = article.author.name
  .publishDate
    %span
      = l article.created_at.in_time_zone, format: :short
  .clear
  .description
    - unless article.clean_content.nil?
      %p
        = article.tiny_content
  .clear
  .more-info
    = link_to article_path(article) do
      =t 'READ_MORE'
  .more-info
    = link_to article_path(article) do
      =t 'COMMENTS', count: article.comments_count, comment: Russian::pluralize(article.comments_count, 'комментарий','комментария','комментариев')
