.row{itemscope:true, itemtype:'http://schema.org/Article'}
  %h4
    = link_to cycle_path(article.cycle) do
      = article.cycle.correct_title
    %span.divider /
    = link_to draft_article_path(article), itemprop:"url" do
      %span= title article.title
  .news-user-avatar
    = render 'common/avatar', user: article.author
  .info
    .credentials
      .author
        = link_to profile_path(article.author) do
          %span{itemprop:'author', itemscope:true, itemtype:'http://schema.org/Person'}
            %span{itemprop:'name'}
              = article.author.name
      .publishDate
        %span{itemprop:'datePublished',content:article.created_at}
          = l article.created_at.in_time_zone, format: :short
    .clear
    .views
      = article.author.female? ? 'создала' : 'создал'
      = link_to cycles_profile_path(article.author) do
        = article.author.cycles.all.size - 2
      = Russian::pluralize(article.author.cycles.all.size - 2, 'цикл','цикла', 'циклов')
    .clear
    .views
      = "#{article.author.female? ? 'написала' : 'написал'} #{article.author.articles.size} #{Russian::pluralize(article.author.articles.size, 'статья','статьи', 'статей')}"
    .clear
    .views
      = "#{article.author.female? ? 'оставила' : 'оставил'} #{article.author.comments_count} #{Russian::pluralize(article.author.comments_count, 'комментарий','комментария','комментариев')}"
  .pull-right
    .control-panel
      - unless article.garbage?
        .publishDate
          = "Тип: #{t article.article_type.title}"
        .publishDate
          = "Область: #{t article.article_area.title}"
      .edit
        - if can? :update, article
          = link_to edit_article_path(article) do
            %i.fa.fa-pencil{title: t(:EDIT_ARTICLE)}
      .edit
        - if can? :destroy, article
          = button_to "", article, :method => :delete, data:{confirm: "#{t(:SURE)}"}, :class => "fa fa-trash-o", :id => 'btn-rm-cm'
  .clear
  .description{itemprop:'articleBody'}
    - if article.garbage?
      = article.content.html_safe
    - else
      = article.tmpContent.html_safe
