.sidebar-news
  - unless user_signed_in?
    .alert.alert-info.alert-dismissible.hidden-xs.hidden-sm{style: 'width: 390px; text-align: justify; padding-right: 20px;'}
      Всего один клик по иконке любой из социальных сетей — и вы вступите в наше сообщество, получив возможность писать статьи, публиковать
      свои работы и критиковать контент сайта в комментариях, а в будущем, участвовать в невероятных творческих проектах.
      %br
      Станьте автором unbe — не упускайте свой шанс! На других сайтах унылый застой, здесь же огромный потенциал и бесконечное развитие.
      Это мало того, что абсолютно бесплатно, так ещё на этом можно
      = link_to 'заработать!', info_community_path(system_tag: :promotion)
  .commercial
    = render :partial => 'common/commercial_block'
  .right-bar
    = render 'articles/popular'

  .right-bar
    = render 'contents/tiny_block', content: Content.random_entry
  .clear

  .right-bar
    = render 'users/active_users'
