.sidebar
  %h3.right-bar
    Области
  %ul.navigation.all-articles
    %li
      = active_link_to articles_path, active: :exclusive do
        Все статьи
    - article_areas.each do |article_area|
      %li.area-link{data: {area: article_area.title}}
        = active_link_to articles_path(article_area: article_area.title), active: /#{article_area.title}$/ do
          = t article_area.title
    %li
      = active_link_to 'Свалка', garbage_articles_path
