.row-fluid
  .span4
    - unless @article_area.nil?
      %h4.section= t @article_area.title
    - else
      %h4.section Статьи
  .span4
    .pull-right
      - if can? :create, Article
        = link_to new_article_path, :class=>'btn btn-primary' do
          %i
          =t(:NEW_ARTICLE)
      - if can? :create, Cycle
        = link_to new_cycle_path, :class=>'btn btn-primary' do
          %i
          =t(:NEW_CYCLE)
  .span3.middle
    = render :partial => "common/search_control", :locals => { :current_action_path => articles_path }

#articles.ujs-pagination

- content_for(:right_bar) do
  = render :partial => 'right_bar', locals: { :article_areas => @article_areas }