%h3 Создание статьи
= simple_form_for(@article, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: "span8" }
    = f.association :article_area, collection: ArticleArea.all.order_by([:title, :desc]), input_html: { class: "span8" }, selected: ArticleArea.find_by(title: :NEWS)._id, label_method: lambda { |area| "#{t(area.title)}" }
    = f.association :article_type, collection: ArticleType.all.order_by([:title, :desc]), input_html: { class: "span8" }, selected: ArticleType.find_by(title: :NEWS)._id, label_method: lambda { |type| "#{t(type.title)}" }
    = f.association :cycle, collection: Cycle.search_for(current_user,{scope:'current_user'}).order_by([:title, :asc]), input_html: { class: "span8" }, selected: Cycle.search_for(current_user, {scope: 'current_user'}).where(title: 'Новости').first._id, label_method: lambda { |cycle| cycle.correct_title }
    = f.input :tmpContent, as: :text, input_html: { class: "span12", id: 'tmpContent' }
    = f.input :system_tag, :label => "Пометить" if can? :system_tag, Article

  .form-actions
    = f.button :submit, :class => "btn-primary"

= render :partial => 'common/text_editor'