- if @articles.blank?
    %p= t("NO_OFFICE_ARTICLES")
- else
    %table.table.table-striped
        %thead
            %th
                %span
                    %input{type: 'checkbox'}
            %th{:width => "700px"}= t(:TITLE)
            %th{:width => "100px"}
            %th{:width => "50px"}
            %th{:width => "50px"}
            %th{:width => "50px"}
            %th{:width => "30px"}
            %th{:width => "30px"}
            %th{:width => "30px"}
            %th{:width => "30px"}
        %tbody
            - @articles.each do |article|
                %tr
                    %td
                        %span
                            %input{type: 'checkbox', class: 'group-checker'}
                    %td
                        .header
                            = link_to article_path(article) do
                                %span= article.title
                        .publishDate
                            = l article.created_at.in_time_zone, format: :short
                    %td
                        .options
                            .btn-group
                                %button.btn
                                    = link_to edit_article_path article do
                                        Изменить
                                %button.btn.dropdown-toggle{:data => {:toggle => "dropdown"}}
                                    %span.caret
                                %ul.dropdown-menu
                                    %li
                                        = link_to edit_article_path(article) do
                                            Изменить
                    %td.views-wrapper
                        = render :partial => "common/views_count", locals: { subject: article }
                    %td.views-wrapper
                        = render :partial => "common/comments_count", locals: { subject: article }
                    %td.mini-vote
                        = render :partial => "common/rate_count", locals: { subject: article }
                    %td.thumb-wrapper
                        - if article.isUpdated
                            %i.icon-pencil{title: t('ARTICLE_CHANGED')}
                    %td.thumb-wrapper
                        - unless article.isPublished
                            = link_to publish_article_path(article) do
                                = render :partial => 'yes_no',:locals => { :is_true => article.isPublished, :title=>"опубликована"}
                        - else
                            = render :partial => 'yes_no',:locals => { :is_true => article.isPublished, :title=>"опубликована"}

                    %td.thumb-wrapper
                        - if article.isUpdated && article.isPublished
                            .s-thumb
                                =image_tag( "/images/article/update.png", :title=>"новая версия статьи находится на модерации")
                        - else
                            = render :partial => 'yes_no',:locals => { :is_true => article.isApproved, :title=>"подтверждена"}
                    %td
                        - if can? :destroy, article
                            = button_to "", article, :method => :delete, confirm: "#{t(:SURE)}", :class => "icon-remove", :id => 'btn-rm-rf'

= paginate @articles, :remote => true