%h4 Мои циклы
.cycles
    %table.table.table-striped
        - if @cycles.blank?
            %p= t("NO_OFFICE_CYCLES")
        - else
            - @cycles.each do |cycle|
                %tr
                    %td
                        .header
                            = link_to cycle_path(cycle) do
                                cycle.current_title
                        .publishDate
                            = cycle.created_at.localtime
                    %td
                        .options
                            .btn-group
                                %button.btn
                                    = link_to edit_cycle_path cycle do
                                        Изменить
                                %button.btn.dropdown-toggle{:data => {:toggle => "dropdown"}}
                                    %span.caret
                                %ul.dropdown-menu
                                    %li
                                        = link_to edit_cycle_path(cycle) do
                                            Изменить

- content_for(:right_bar) do
    = render :partial => 'right_bar'
