%h4 Мои циклы
.cycles
    %table.table.table-striped
        - @cycles.each do |cycle|
            %tr
                %td
                    .header
                        = link_to cycle_path(cycle) do
                            - if cycle.title == 'NO_CYCLE'
                                %span= t :NO_CYCLE
                            - else
                                %span= cycle.title
                    .publishDate
                        = cycle.created_at.localtime
                %td
                    .options
                        .btn-group
                            %button.btn
                                = link_to edit_cycle_path cycle do
                                    Изменить
                            %button.btn.dropdown-toggle{:data => {:toggle => "dropdown"}}
                                %span.caret
                            %ul.dropdown-menu
                                %li
                                    = link_to edit_cycle_path(cycle) do
                                        Изменить

- content_for(:right_bar) do
    = render :partial => 'right_bar'
