.row-fluid
  .span4
    %h4.section-small
      = title 'Мои галереи'
      %span.o-count= @galleries.size
  .span4
    .pull-right
      = link_to new_gallery_path, :class=>'btn btn-primary' do
        %i
        =t(:NEW_GALLERY)

#galleries.galleries.ujs-pagination
  = render :partial => 'galleries_block'

- content_for(:right_bar) do
  = render :partial => 'right_bar'
