%h3 Связка аккаунтов

%p Свяжите свой аккаунт с популярными социальными сетями и вы сможете заходить на unbe с помощью всего одного клика!

%table.table
  %tr
    %th
    %th Provider
    %th Uid
    %th

  - OmniAuth::Builder.providers.each do |provider|
    %tr
      %td= image_tag("/images/omni/#{provider}.png")
      %td= t(provider)
      - if (authentication = @authentications.where(provider: provider).first).present?
        %td= authentication.uid
        %td= link_to 'Отключить', authentication, :method => :delete, :data => { :confirm => 'Вы уверены?' }
      - else
        %td —
        %td= link_to 'Подключить',"/auth/#{provider}"

- content_for(:right_bar) do
  = render 'offices/right_bar'


