<h3>Ещё один шаг...</h3>

<%= horizontal_simple_form_for(@user, url: email_users_path, method: :post ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, :required => true, :autofocus => true, :label => "Логин", input_html: { class: "span6" } %>
      <%= f.input :email, :required => true, input_html: { class: "span6" } %>
      <%= f.input :subscribed, :as => :boolean, :inline_label => 'еженедельная рассылка' %>
      <%= f.input :password, :required => true, :label => "Пароль", input_html: { class: "span6" } %>
      <%= f.input :password_confirmation, :required => true, :label => "Подтверждение пароля", input_html: { class: "span6" }%>
    </div>
    <div class="clear"></div>

    <div class="form-actions">
      <%= f.button :submit, "Зарегистрироваться", :class => "btn-primary" %>
    </div>
<% end %>

<% content_for(:right_bar) do %>
    <%= render :partial => 'articles/index_bar'%>
<% end %>