.row-fluid
  %h4
    - if ['NO_CYCLE','ARCHIVE_CYCLE'].include? cycle.title
      %span= t cycle.title
    - else
      %span= "Цикл '#{cycle.title}'"
  .author
    = link_to user_profile_path(cycle.author) do
      = cycle.author.name
  .publishDate
    = l cycle.created_at.in_time_zone, format: :short
  .clear
  .pull-right
    .control-panel
      .edit
        - if can? :update, cycle
          = link_to edit_cycle_path(cycle) do
            %i.icon-pencil{title: t(:EDIT_CYCLE)}
      %div{class:"vote-#{cycle._id}"}
        .mini-vote{title: t(:RATING)}
          .count{:class => ((cycle.votes_point > 0 ? 'positive' : 'negative') unless cycle.votes_point ==0 )}
            = cycle.votes_point
  .clear
  .description
    - if ['NO_CYCLE_DESC','ARCHIVE_CYCLE_DESC'].include? cycle.description
      %span= t cycle.description.html_safe
    - else
      %span=cycle.description.html_safe
  .clear
