%h3 Создание цикла статей
= simple_form_for(@cycle, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: "span8" }
    = f.input :description, as: :text, input_html: { class: "span12", id: 'tmpContent' }

  .form-actions
    = f.button :submit, :class => "btn-primary"

= render :partial => 'common/small_text_editor'