%h4.section= title 'Проекты'
%br
.projects
  .alert.alert-error
    %button{type:"button", class:'close', data: {dismiss: 'alert' }} &times;
    Сообщество unbe ещё не готово к проектам
  .clear
  .description
    %p
      Для того, чтобы запуск проектов имел смысл, необходимо, чтобы сообщество unbe "набрало силу".
      Это означает, что у сообщества должна быть своя целевая аудитория, проявляющая хоть какую-нибудь активность,
      база знаний, наполненная полезными и качественными статьями, авторитет, мировое признание, известность...
      И если некоторые из критериев весьма субъективны и недостижимы, то другие можно легко измерить и достичь.
    %p
      Ведь именно создание сообщества людей, заинтресованных в собственном развитии в сфере любительского и профессионального кино -
      не для получения в результате своей самореализации прибыли, но для творчества как самоцели; повышение его уровня знаний и
      квалификации - есть главная цель unbe.
    %p
      И пока такое сообщество не сформировано, не имеет смысла запускать этот раздел, призванный стать инструментом,
      позволяющим искать и находить людей на "дообровольно-энтузиастских" основаниях для реализации своих проектов на новом
      качественном уровне и со сложностью, чуть более превышающей летсплеи и видеоблоггинг.
    %p
      Момент открытия раздела - чисто субъективное видение авторов проекта, но для примерной ориентации в сроках
      ниже приведены минимальные критерии запуска раздела "Проекты":
  .clear
  %dl
    - max_articles = 350; max_users = 1001
    %dt= "Статей (#{@stats.articles_count}/#{max_articles})"
    %dd
      .progress.progress-success.span10
        .bar{style:"width: #{@stats.percentage(:articles, max_articles)}%"}
  %dl
    %dt= "Пользователей (#{@stats.users_count}/#{max_users})"
    %dd
      .progress.progress-success.span10
        .bar{style:"width: #{@stats.percentage(:users, max_users)}%"}
  %dl
    %dt Готовность раздела (0/100)
    %dd
      .progress.progress-success.span10
        .bar{style:"width: 0%"}
  %dl
    %dt Посещаемость (6/800)
    %dd
      .progress.progress-success.span10
        .bar{style:"width: 0.6%"}

- content_for(:right_bar) do
  = render :partial => 'articles/index_bar'


