.row-fluid
  .span12
    .tabbable
      %ul.nav.nav-tabs
        %li
          = active_link_to achieving_community_path(type: :common), active: /common/  do
            %span Общие

        %li
          = active_link_to achieving_community_path(type: :articles), active: /articles/  do
            %span Статьи

        %li
          = active_link_to achieving_community_path(type: :projects), active: /projects/ do
            %span Проекты

        %li
          = active_link_to achieving_community_path(type: :comments), active: /comments/ do
            %span Комментарии

        %li
          = active_link_to achieving_community_path(type: :activity), active: /activity/ do
            %span Активность

        %li
          = active_link_to achieving_community_path(type: :great), active: /great/ do
            %span Великие

.clear