.row-fluid
  .span8
    .tabbable
      %ul.nav.nav-tabs
        %li
          = active_link_to achieving_community_path(type: :articles), active: /articles/  do
            %span Статьи

        %li
          = active_link_to achieving_community_path(type: :projects), active: /projects/ do
            %span Проекты

        %li
          = active_link_to achieving_community_path(type: :users), active: /users/ do
            %span Пользователи

        %li
          = active_link_to achieving_community_path(type: :activity), active: /activity/ do
            %span Активность

        %li
          = active_link_to achieving_community_path(type: :great), active: /great/ do
            %span Великие

.clear