.item-wrapper{style:'border-radius: 9px; background: #eee;padding: 4px;margin-bottom: 20px;clear: both;'}
  .item-card{style:'overflow: hidden;border-radius: 6px;border: 1px solid #ddd;position: relative;background-color: #fff;padding: 5px;height: 390px;'}
    .item-thumb{style:'width: 212px;height: 150px;margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;text-align: center;'}
      = link_to article_url(item), style:'text-decoration: none;color: #666666;width: 212px;' do
        = image_tag(item.get_logo_url.blank? ? 'https://unbe.ru/images/common/filer.png': item.get_logo_url, title: item.title, style:'max-width:100%;max-height:auto;')
    %h4{style:'font-size: 12px;font-weight: bold;line-height: 15px;padding: 0 5px;margin-bottom: 5px;min-height: 50px;'}
      = link_to article_url(item), style:'text-decoration: none;color: #666666;' do
        %strong{style:'display: block;max-height: 30px;overflow: hidden;'}= item.title
      %span{style:'display: block;font-size: 11px;max-height: 15px;overflow: hidden;color: #999;font-weight: normal;padding-top: 2px;'}
        = link_to profile_url(item.author), style:'text-decoration: none;color: #666666;' do
          = "от автора #{item.author.name}"
    .clear
    - unless item.content.nil?
      %p{style:' color: #999 !important;padding: 0 5px;font-size: 12px !important;line-height: 15px;height: 120px;text-overflow: ellipsis;overflow: hidden;'}
        = item.tiny_content.html_safe
    %ul.item-meta{style:' list-style: none;width: 190px;bottom: 68px;left: 10px;margin: 0;'}
      %li.publishDate{style:'font-size: 11px;display: block;font: 13px Tahoma;color: #ababab;margin-left: 2px;margin-right: 20px;float: left;'}
        %span
          %i.fa.fa-leaf{title: t(:PUBLISH_FULL), style:'opacity: 0.5;display: inline-block;width: 14px;height: 14px;line-height: 14px;vertical-align: text-top;background-image: url("https:/unbe.ru/assets/glyphicons-halflings-2851b489e8c39f8fad44fc10efb99c3e.png");background-position: 14px 14px;background-repeat: no-repeat;margin-top: 1px;background-position: -48px -120px;'}
          = l(item.created_at.in_time_zone, format: :short)