!!!
%html
  %head
    %meta{content:'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
  %body{style:'font-family:: Verdana, sans-serif;'}
    %h2= t :MAIL_NEWS_HEADER, user: @user.first_name
    - if @articles.size > 6
      %p= t :MAIL_NEWS_DESC
    - else
      %p= t :MAIL_TINY_NEWS_DESC
    %ul.items-card-list{style:'width: 760px;background: #fff;list-style: none;margin: 0;padding: 0;z-index: 2;display: block;float: left;'}
      - @articles.each do |article|
        %li.item{style:'display: inline;float: left;margin-left: 10px;margin-right: 10px;width: 230px;margin: 0 20px 20px 0;padding: 0;'}
          = render :partial => 'cool_block', locals: { item: article, collection: 'articles' }


    %table{cellspacing:'0', cellpadding:'0', align:"center", style:'width: 100%;'}
      %tbody
        %tr
          %td{width:'134', valign:'middle',style:"font-size: 9px;line-height: 12px;color: #000;"} Вступайте в группы unbe
          %td{width:'5',style:'line-height: 12px;color: #000;'}
          %td{width:'20', height:'20', style:'font-size: 0;line-height: 0;', valign:"top"}
            %a{href:"http://www.facebook.com/groups/unbecinema/", target:"_blank"}
              %img{style:"border: 0pt none;display: block;", src:"http://unbe.ru/images/main/buttons/facebook.gif", align:"left", alt:"facebook", hspace:"0", vspace:"0", width:"20", height:"20", border:"0"}
          %td{width:'3'}
          %td{width:'20', height:'20', style:'font-size: 0;line-height: 0;', valign:"top"}
            %a{href:"http://vk.com/unbecinema", target:"_blank"}
              %img{style:"border: 0pt none;display: block;", src:"http://unbe.ru/images/main/buttons/vk.gif", align:"left", alt:"facebook", hspace:"0", vspace:"0", width:"20", height:"20", border:"0"}
          %td{width:'3'}
          %td{width:'20', height:'20', style:'font-size: 0;line-height: 0;', valign:"top"}
            %a{href:"https://twitter.com/unbe_", target:"_blank"}
              %img{style:"border: 0pt none;display: block;", src:"http://unbe.ru/images/main/buttons/twitter.gif", align:"left", alt:"facebook", hspace:"0", vspace:"0", width:"20", height:"20", border:"0"}
          %td{width:'3'}
          %td{width:'20', height:'20', style:'font-size: 0;line-height: 0;', valign:"top"}
            %a{href:"http://www.youtube.com/user/unbecinema", target:"_blank"}
              %img{style:"border: 0pt none;display: block;", src:"http://unbe.ru/images/main/buttons/youtube.gif", align:"left", alt:"facebook", hspace:"0", vspace:"0", width:"20", height:"20", border:"0"}
          %td
          %td
          %td
          %td
          %td{width:'406'}

        %tr
          %td{colspan:"14", style:"font-size: 0;line-height: 0;"}
            %img{style:"border:  0pt none;display: block;", src:"http://unbe.ru/images/main/buttons/filer.gif", alt:"", width:"1", height:"8", border:"0"}
        %tr
          %td{colspan:"14"}
            %table{cellspacing:"0", cellpadding:"0", align:"center", style:"width: 100%;"}
              %tbody
                %tr
                  %td
                    %table{cellspacing:"0",cellpadding:"0", align:"left"}
                      %tbody
                        %tr
                          %td{style:"font-size: 9px;line-height:  14px;color: #118ed9;"}
                            %a{style:"text-decoration: none;color: #118ed9;", href:"#{edit_user_registration_url}",rel:"nofollow", target:"_blank"}  &nbsp; Отписаться от рассылки
                          %td{style:"font: 9px Arial, Helvetica, Verdana, sans-serif;line-height:  12px;color: #000;"} &nbsp;&nbsp;


                    %table{class:"copyright", cellspacing:"0", cellpadding:"0", align:"right"}
                      %tbody
                        %tr
                          %td{align:"right", style:"font: 10px Arial, Helvetica, Verdana, sans-serif;line-height: 14px;color: #75787b;"}= "COPYRIGHT © #{DateTime.now.to_date.year} unbe. Все права защищены."