- keywords gallery.tag_list
.row
  %h4
    %span=title gallery.name
  .author
    = link_to profile_path(gallery.author) do
      = gallery.author.name
  .publishDate
    - unless gallery.created_at.nil?
      = l gallery.created_at.in_time_zone, format: :short
  .pull-right
    .control-panel
      .edit
        - if can? :update, gallery
          = link_to edit_gallery_path(gallery) do
            %i.fa.fa-pencil{title: t(:EDIT_GALLERY)}
      = render :partial => 'common/views_count', locals: { subject: gallery, growth: false }
  .clear
  .description
    - unless gallery.description.nil?
      %span= gallery.description.html_safe
  .clear

.row
  .shifted
    - if @gallery.contents.blank?
      .description
        %p= t("NO_GALLERY_CONTENT")
    - else
      .fotorama{data:{width:'90%',ratio:"800/600", keyboard: 'true'}}
        - @gallery.contents.order_by([:created_at, :asc]).each do |content|
          %a{href: content.src, data:{caption:content.title}}
  .clear
