%h3=title 'Редактирование галереи работ'
= horizontal_simple_form_for(@gallery, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: "span8" }
    = f.input :description, as: :text
    = render :partial => "common/tags_input", :locals => {:f => f, :taggable => Gallery}

  .form-actions
    = f.button :submit, :class => "btn-primary"

#contents.ujs-pagination

.clear
= render :partial =>  'new_content', :locals => { :gallery => @gallery, :included => true }

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'