%h3=title 'Создание галереи работ'
= horizontal_simple_form_for(@gallery, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: "span8" }
    = render partial: 'common/text_editor', locals: {f: f, field: :description, type: :small, id: 'smallContent', html_class: 'span12', label: nil}
    = render :partial => "common/tags_input", :locals => {:f => f, :taggable => Gallery}

  .form-actions
    = f.button :submit, :class => "btn-primary"

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'