%h3 Создание галереи работ
= horizontal_simple_form_for(@gallery, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: "span8" }
    = f.input :description, as: :text, input_html: { class: "span12", id: 'smallContent' }

  .form-actions
    = f.button :submit, :class => "btn-primary"

= render :partial => 'common/small_text_editor'

- content_for(:right_bar) do
  = render :partial => 'office/right_bar'