- if activities.blank?
  %p Никто ничего пока ещё не сделал
- else
  - activities.each do |activity|
    .activity
      .logo.span1
        - public_activity_icon(activity.key)
      .avatar.span0
        = render 'common/avatar', user: activity.owner
      .content.inline-block
        .publishDate
          = l activity.created_at.in_time_zone, format: :short
        .clear
        .title
          = link_to activity.owner.name, profile_path(activity.owner) if activity.owner
          = render_activity activity
        .details



= paginate activities