.title= "комментарии (#{@comments.size})"
- if @comments.blank?
  %p.description= t("NO_COMMENTS_HERE")
  .clear
- else
  - @comments.each do |comment|
    .comment{class: "comment-#{comment.id}"}
      %table
        %tr
          %td.avatar
            = render 'common/avatar', user: comment.user
          %td.credentials
            .author
              = link_to profile_path(comment.user) do
                %span
                  %span= comment.user.name
            .publishDate
              = l comment.created_at.in_time_zone, format: :short
              - if defined? show_commentable
                %span.step
                  к
                  = link_to polymorphic_path(comment.commentable) do
                    %span= comment.commentable_correct_title
            .pull-right
              - if can? :update, comment
                = link_to edit_comment_path(comment) do
                  %i.fa.fa-pencil
              - if can? :destroy, comment
                = link_to comment, method: :delete, data:{confirm: "#{t(:SURE)}"} do
                  %i.fa.fa-trash-o
        %tr
          %td.votecell
            .vote-comment{style: 'padding-top: 5px;'}
              = link_to polymorphic_path([:vote_up,comment]), remote: true do
                %i.fa.fa-plus{class: votable_class(:vote_up, comment), title: votable_title(:vote_up, comment), data: {toggle: 'tooltip', placement:'top'}}
              .count{:class => ((comment.count_votes_up - comment.count_votes_down  > 0 ? 'positive' : 'negative') unless comment.count_votes_total == 0 )}
                = comment.count_votes_up - comment.count_votes_down
              = link_to polymorphic_path([:vote_down,comment]), remote: true do
                %i.fa.fa-minus{style: 'margin-top: 8px;',class: votable_class(:vote_down, comment), title: votable_title(:vote_down, comment), data: {toggle: 'tooltip', placement:'top'}}
          %td.contentcell
            = comment.content.html_safe

= paginate @comments, :remote => true, params: { anchor: 'comments-anchor' }