.comment{class: "comment-#{comment._id}"}
  %table
    %tr
      %td.avatar
        - if comment.user.avatar.nil?
          = image_tag("/images/main/profile/stub-user-middle.gif", :title => "user avatar", :size => "25x25")
        - else
          = image_tag(comment.user.avatar.file.url(:mini), :size => "25x25")
      %td.author
        = link_to user_profile_path(comment.user) do
          = comment.user.name
        .publishDate
        = l comment.created_at.in_time_zone, format: :short
    %tr
      %td.votecell
        .vote-comment
          - if can? :vote_up, comment
            = link_to vote_up_comment_path(comment), remote: true do
              = image_tag( '/images/votes/plus.png', :width => '15px', :title => "Комментарий по делу")
          .count{:class => ((comment.votes_point > 0 ? 'positive' : 'negative') unless comment.votes_point ==0 )}
            =comment.votes_point
          - if can? :vote_down, comment
            = link_to vote_down_comment_path(comment), remote: true do
              = image_tag( '/images/votes/minus.png', :width => '15px', :title => "Комментарий не по сути")
      %td.contentcell
        = comment.content.html_safe