%hr
- if can? :create, Comment
  %h4 Комментировать
  = simple_form_for([commentable, commentable.comments.new], :validate => true) do |f|
    = f.error_notification

    .form-inputs
      = render partial: 'common/text_editor', locals: {f: f, field: :content, type: :small, id: 'smallContent', html_class: 'span12', label: false}

    .form-actions
      = f.button :submit, :class => "btn-primary"

- else
  .description
    Один клик — и вы сможете оставить свой невероятно-фантастический комментарий

  = render 'common/omni_reg', big: true