.item-wrapper
  .item-card
    .item-thumb
      = render partial: "#{collection}/thumb", locals: {item: item}
    %h4
      = render partial: "#{collection}/title", locals: {item: item}
      %span
        = link_to profile_path(item.author) do
          = "от автора #{item.author.name}"
    .clear
    - unless item.content.nil?
      %p
        = item.tiny_content.html_safe
    %ul.item-meta
      %li.publishDate
        %span
          %i.glyphicon.glyphicon-leaf{title: t(:PUBLISH_FULL)}
          = item.created_at.nil? ? 'До начала времен': l(item.created_at.in_time_zone, format: :short)

    %ul.item-stats
      %li.long
        = render partial: 'common/views_count', locals: {subject: item, growth: true}
      %li.views-wrapper
        = render partial: 'common/comments_count', locals: {subject: item}
      %li.floated-vote
        = render partial: 'common/rate_count', locals: {subject: item}

