.row{style: "margin-right: 0px"}
  .col-xs-12.col-sm-12.col-md-12.list-header.sticky-header
    .row{style: "margin-right: 0px"}
      .col-md-1.hidden-xs.hidden-sm
        .select-switch.dropdown.select-control
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = check_box_tag 'select'
            %b.caret
          %ul.dropdown-menu{role: "menu"}
            %li.select-all
              %a Выбрать все
            %li.select-none
              %a Выбрать ничего

      .col-md-1.hidden-xs.hidden-sm.buttons-container
        - if @_controller.respond_to? :bulk_delete
          = link_to [:bulk_delete, model], class: "btn btn-default btn-xs delete-selected",
           rel: :tooltip, title: "Delete selected", 'data-container' => 'body' do
            %i.fa.fa-times

      .col-md-7.center-group
        .pull-left.scope-switch-container
          = render partial: "common/scope_switch", locals: { current_action: current_action, subject: list_title }
        .pull-left
          = render partial: "common/sort_control", locals: { current_action: current_action, model: model }

      .col-md-3.hidden-xs.hidden-sm{style: "padding-right: 0px;"}
        .pull-right
          = render "common/search_control", current_action_path: articles_office_path