.list-header
  .row
    .span12.list-header.sticky-header
      .row-fluid

        .span3

        .span6.center-group
          .pull-left.scope-switch-container
            = render :partial => "common/scope_switch", :locals => { current_action: current_action, subject: list_title }
          .pull-left
            = render :partial => "common/sort_control", :locals => { current_action: current_action, model: model }
          .pull-left.btn-group.expand-switch
            = link_to '', :class=>"btn btn-mini collapse-all", rel: :tooltip,
              title: "Collapse all", 'data-container' => 'body' do
              %i.icon-list
            = link_to '', :class=>"btn btn-mini expand-all", rel: :tooltip,
              title: "Expand all", 'data-container' => 'body' do
              %i.icon-th-list

        .span2.buttons-container
          - if @_controller.respond_to? :bulk_delete
            = link_to [:bulk_delete, model],class: "btn btn-mini delete-selected",
             rel: :tooltip, title: "Delete selected", 'data-container' => 'body' do
              %i.icon-remove

          - if @_controller.respond_to? :bulk_tag
            = link_to [:bulk_tag, model], :class=>"btn btn-mini tag-selected",
             :rel => :tooltip, :title => "Tag selected", 'data-container' => 'body' do
              %i.icon-tags

          - if @_controller.respond_to? :bulk_export
            = link_to [:bulk_export, model],:class=>"btn btn-mini archive-selected",
             :rel => :tooltip, :title => "Export selected", 'data-container' => 'body' do
              %i.icon-download-alt

        .span1
          .select-switch.dropdown.select-control
            %a.dropdown-toggle.btn.btn-mini{"data-toggle" => "dropdown", href: "#"}
              = check_box_tag 'select'
              %b.caret
            %ul.dropdown-menu{role: "menu"}
              %li.select-all
                %a Select all
              %li.select-none
                %a Select none