- count  = subject.respond_to?(:impressions) ? subject.impressionist_count(filter: :ip_address) : subject.included_impressions

.views-count{title: "#{t(:COUNT_VIEWS)}: #{count}"}
  - if subject.respond_to? :impressions
    %i.fa.fa-eye
    = count
    - new = subject.impressionist_count(start_date: DateTime.now.beginning_of_day)
    - if growth && (new > 0)
      %span.grow{title: t(:DAY_COUNT_VIEWS)}
        = "+#{new}"
  - else
    %i.fa.fa-eye{title: t(:COUNT_INCLUDED_VIEWS)}
      = subject.included_impressions