- count  = subject.respond_to?(:impressions) ? subject.impressions_count : subject.included_impressions

.views-count
  - if subject.respond_to? :impressions
    %i.fa.fa-eye{title: "#{t(:COUNT_VIEWS)}: #{count}", data: {toggle: 'tooltip', placement:'top'}}
    = count
    - if growth
      - new = subject.impressionist_count(start_date: DateTime.now.beginning_of_day)
      - if new > 0
        %span.grow{title: t(:DAY_COUNT_VIEWS), data: {toggle: 'tooltip', placement:'top'}}
          = "+#{new}"
  - else
    %i.fa.fa-eye{title: t(:COUNT_INCLUDED_VIEWS), data: {toggle: 'tooltip', placement:'top'}}
      = subject.included_impressions