.col-md-1
.col-md-2
  %h5 Ресурсы
  %p= link_to "YouTube", "http://www.youtube.com/user/unbecinema"
  %p= link_to "Twitter", "http://twitter.com/unbe_"
  %p= link_to "vk.com"," http://vk.com/unbecinema"

.col-md-2
  %h5 Разделы
  %p
    = link_to news_articles_path do
      %span Новости
  %p
    = link_to articles_path do
      %span Статьи
  %p
    = link_to content_base_contents_path do
      %span Работы
  %p
    = link_to projects_path do
      %span Проекты
  %p
    = link_to community_path do
      %span Сообщество

.col-md-2
  %h5 Информация
  %p= link_to "Если нашли ошибку", info_community_path(system_tag: :errors)
  %p= link_to "Идеи и предложения", info_community_path(system_tag: :ideas)
  %p= link_to 'О сообществе',info_community_path(system_tag: :about)
  %p= link_to 'Правила', info_community_path(system_tag: :rules)
  %p= link_to 'Вопросы', info_community_path(system_tag: :faq)

.col-md-4
  %h5 О сайте
  %p
    = link_to 'Авторские права', info_community_path(system_tag: :license)
    |
    = link_to 'Поощрение авторов', info_community_path(system_tag: :promotion)
  %p
    %strong Для связи:
    unbecinema@gmail.com
  %p
    = "unbe © 2011 – #{Time.now.year}"
    &nbsp;&nbsp;
    = MySite::Application.version
    |
    = link_to "Что нового?", info_community_path(system_tag: :whats_new)