.row.header
  #logo= image_tag("main/unbe.png", alt: "unbe logo")
  .col-md-7.fixed-menu
    %ul.nav.nav-pills#main-menu
      %li
        = active_link_to root_path, active: :exclusive do
          %span Главная
      %li
        = active_link_to articles_path, active: :exclusive do
          %span Статьи
      %li
        = active_link_to content_base_contents_path, active: :exclusive do
          %span Работы
      %li
        = active_link_to projects_path, active: :exclusive do
          %span Проекты
      %li
        = active_link_to community_path, active: :exclusive do
          %span Сообщество

  .col-md-2#reg
    - unless user_signed_in?
      %div
        = link_to main_app.new_user_registration_path do
          Регистрация
      %div
        = link_to main_app.new_user_session_path do
          Войти
      = render 'common/omni_reg'
    - if user_signed_in?
      %div{style: 'margin-top: -9px;'}
        .user-name.inline-block
          = link_to office_path do
            = current_user.name
        .user-avatar.inline-block
          = link_to office_path do
            = render 'common/avatar', user: current_user

      .exit
        = link_to destroy_user_session_path, :method=>'delete' do
          %span Выйти

.header-separator




