!!!
%html
  %head
    %meta
      %title
        Unbe
        = yield :title
      %meta
        = stylesheet_link_tag "/assets/application", :media => "all"
        = javascript_include_tag "/assets/application", :media => "all"

  %body{:class => "#{controller_name} #{action_name}"}
    #main.row-fluid
      .span12
        .row-fluid
          .span12
            = render 'layouts/header'
        #messages
          = render 'layouts/messages'
        .row-fluid#container
          .span11.offset1
            .row-fluid
              .span8
                = yield
              .span3
                = yield :right_bar
        .row-fluid#footer
          .span11.offset1
            = render 'layouts/footer'