!!!
%html
  %head
    = display_meta_tags site: 'unbe'
    = yield(:head)
    %meta
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
      %script{async: true, src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      %link{rel:'shortcut icon',href:'/images/favicon.ico'}
      = csrf_meta_tags
      = include_gon

  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/header'
    .row#container
      .col-md-8.col-xs-12.content
        #messages
          = render 'layouts/messages'
        = yield
      .col-md-4.right-content.hidden-xs
        = yield :right_bar
    .row#footer
      .col-md-12.hidden-xs
        = render 'layouts/footer'
    .device-xs.visible-xs
    .device-sm.visible-sm
    .device-md.visible-md
    .device-lg.visible-lg

= render 'layouts/stats'