!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title
        Unbe
        = yield :title
      %meta
        = stylesheet_link_tag "application", :media => "all"

  %body{:class => "#{controller_name} #{action_name}"}
    #main{:role => "main"}
      .span12
        .row-fluid
          .span12
            = render 'layouts/header'
        #messages
          = render 'layouts/messages'
      .span12
        = yield

    #footer.clearfix
      &copy;
      SwiftTest Inc. 2013
      .pull-right
        Version:
        = "0.0.1"
  .spinner#spinner
    %img{:src => '/images/spinner.gif'}
